<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EmailMessage",
  "description": "$5 meal at Joe's Diner",
  "action": {
    "@type": "SaveAction",
    "name": "Save Offer",
    "handler": {
      "@type": "HttpActionHandler",
      "url": "https://offers-everywhere.com/save?offerId=xyz789"
    }
  }
}
</script>
  </head>
  <body>
    <h1>Great story, <%= @user.name %>!</h1>
    <p>I appreciate you taking the time to share your story with Pushing Social readers!</p>
    <p>Once approved, you'll be able to see your story by visiting http://www.First100Readers.com</p>

    <p>By the way, you might want to edit your story after it is posted.  Use this link below to do simpled edits.</p>
    <p><a href="http://www.first100readers.com/users/<%= @user.to_param %>/edit">Edit Your Story</a></p>

    <p>All the Best</p>
    <p><strong>Stan</strong></p>
  </body>
</html>