<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>New story to approve from: <%= @user.name %>!</h3>
<p><a href="http://www.first100readers.com/admin">Click here to approve</a></p>

    
  </body>
</html>