<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great story, <%= @user.name %>!</h1>
    <p>I appreciate you taking the time to share your story with Pushing Social readers!</p>
    <p>Once approved, you'll be able to see your story by visiting http://www.First100Readers.com</p>

    <p>All the Best</p>
    <p><strong>Stan</strong></p>
  </body>
</html>