<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Great story, <%= @user.name %>!</h1>
    <p>I appreciate you taking the time to share your story with Pushing Social readers!</p>
    <p>You might want to edit your story information. Use this url to edit your details:</p>

	<p>Click <a href="http://www.first100readers.com/users/".<%= @user.id %>."/edit">here</a> to edit your story</p>
    <p>All the Best</p>
    <p><strong>Stan</strong></p>
  </body>
</html>