<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<p class="text-left"><%= link_to "Back That Way", root_path, :class => "btn btn-default" %></p>
		</div>
		<div class="col-lg-4">
			<h4 class="text-center text-muted">Pushing Social</h4>
		</div>
		<div class="col-lg-4">
			<h5 class="text-muted text-right">Inspired by <a href="http://www.howigotmyfirst3customers.com">Noah Kagen</a></h5>
		</div>
	</div>
</div>
<div class="container">
	<div class="col-lg-12">
	<h1 class="lead text-center">How I Got My First 100 Readers</h1>
	<p class="text-center lead">You Rock. You're Smart.  Share Your Story</p>
	
	</div>
	<br>
</div>
<div class="container">
	<div class="row">
	<div class="col-lg-4">
		<p class="lead text-info text-muted">It's time to brag a bit.  Tell us how you achieved your first major blog milestone of getting 100 visitors.</p>
	</div>
	<div class="col-lg-8">
		<form role="form">
    <div class="form-group">
    <input type="text" class="form-control" id="exampleInputName" placeholder="What is your first and last name?">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="What is your email address"?>
  </div>

   <div class="form-group">
   <textarea rows="10" id="description" name="description" class="form-control" placeholder="Tell us how you attracted your first 100 readers. Go ahead and use a couple of paragraphs"></textarea>
  </div>
<p><strong>What type of your blog do you have?</strong></p>
  <div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Business Blog
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Personal / Hobby Blog
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    A Little of Both
  </label>
</div>

  <div class="form-group">
    <label for="exampleInputFile">Upload a photo of yourself</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Don't be shy.  Upload a real photo not a cartoon</p>
  </div>

  <button type="submit" class="btn btn-default">Send Your Story</button>
</form>
	</div>

	</div>
</div>
<div class="container">
	<div class="row">
		<br>	
		<h5 class="text-center text-muted">Another Marketing Gadget for the Little Guy</h5>
	</div>
</div>