<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<p class="text-left"><%= link_to "See More Stories", users_path, :class => "btn btn-default" %></p>
		</div>
		<div class="col-lg-4">
			<h4 class="text-center text-muted">Pushing Social</h4>
		</div>
		<div class="col-lg-4">
			 <p class="text-right"><%= link_to "Tell Your Story", new_user_path, :class => "btn btn-primary" %></p>
		</div>
	</div>
</div>
<div class="container">
	<div class="col-lg-12">
	<h1 class="lead text-center text-info">Thank You.</h1>
	<p class="text-center lead">Thank you.  We'll let you know when new stories have been added</p>
	
	</div>
	<br>
</div>

<div class="container">
	<div class="row">
		<br>	
		<h5 class="text-center text-muted">Another Marketing Gadget for the Little Guy</h5>
		<h5 class="text-muted text-center">Inspired by <a href="http://www.howigotmyfirst3customers.com">Noah Kagen</a></h5>
	</div>
</div>