<!DOCTYPE html>
<html>
<head>
  <title>How I Got My First 100 Blog Readers</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <div class="container">
          <%= yield %>
     </div>
